footer.footer 
    .container 
        .footer__block 
            .footer__box 
                img.footer__logo(src="./images/logo.webp", alt="images")
                a(href="tel:+8(800)600-18-69").footer__contact 8(800)600-18-69
                a(href="mailto:info@cargoasia.info").footer__contact info@cargoasia.info 
                p.footer__addrass Адрес в Китае:
                p.footer__addrass-info 浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379
                .footer__social 
                    .footer__social-media
                        img(src="./images/insta.webp", alt="instagram")
                    .footer__social-media
                        img(src="./images/web.webp", alt="web")
                    .footer__social-media
                        img(src="./images/telegram.webp", alt="telegram")
            .footer__box 
                h4.footer__box-title Грузоперевозки
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#!") Цены и сроки
                    li.footer__item 
                        a.footer__link(href="#!") Услуги
                    li.footer__item 
                        a.footer__link(href="#!") О компании
                    li.footer__item 
                        a.footer__link(href="#!") Контакты
                    li.footer__item 
                        a.footer__link(href="#!") Оформить груз
            .footer__box 
                h4.footer__box-title Услуги
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#!") Выкуп товара
                    li.footer__item 
                        a.footer__link(href="#!") Страховка груза
                    li.footer__item 
                        a.footer__link(href="#!") Аренда склада
                    li.footer__item 
                        a.footer__link(href="#!") Перевод денежных средств
            .footer__box 
                h4.footer__box-title Информация
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#!")  Отзывы
                    li.footer__item 
                        a.footer__link(href="#!") Требования к грузу
                    li.footer__item 
                        a.footer__link(href="#!") Договор-оферта
                    li.footer__item 
                        a.footer__link(href="#!") Как заключить договор
                    li.footer__item 
                        a.footer__link(href="#!") Способы оплаты услуг
                    li.footer__item 
                        a.footer__link(href="#!") Документы
                    li.footer__item 
                        a.footer__link(href="#!") Статьи
                        
                      






                        




